
/*
  Import the common theme.
*/
@import "./_shared/scss/theme.scss";

/*
  If you need some CSS for any reason you can put it here.
*/
#hide {
  display: none;
  word-wrap: break-word;
  margin: 50px;
  text-align: justify;
}
h2 {
  text-align: center;
}
